@use "base/variables" as v;
@use "base/mixins" as m;

.nosotros {
  padding: 5rem 0;

  &__grid {
    @include m.tablet {
      @include m.grid(3, 1rem);
    }
  }

  &__heading {
    @include m.heading;
  }

  &__bloque {
    text-align: center;
  }
  &__imagen {
    margin: 0 auto;
  }
}
